body{
    background-color: #efefef;
}

.content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.pokedex-header {
    height: 108px;
    background-color: #DC0A2D;
    display: flex;
}

.pokedex-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
}

.page-headline{
    font-family: 'pokemonsolid', sans-serif;
    font-size: 56px;
    color: #F9CF30;
}

.pokemon-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}