.pokemon-card-image[data-type="normal"] { --type-color: #AAA67F; }
.pokemon-card-image[data-type="fighting"] { --type-color: #C12239; }
.pokemon-card-image[data-type="flying"] { --type-color: #A891EC; }
.pokemon-card-image[data-type="poison"] { --type-color: #c02cb6; }
.pokemon-card-image[data-type="ground"] { --type-color: #DEC16B; }
.pokemon-card-image[data-type="rock"] { --type-color: #B69E31; }
.pokemon-card-image[data-type="bug"] { --type-color: #A7B723; }
.pokemon-card-image[data-type="ghost"] { --type-color: #70559B; }
.pokemon-card-image[data-type="steel"] { --type-color: #B7B9D0; }
.pokemon-card-image[data-type="fire"] { --type-color: #F57D31; }
.pokemon-card-image[data-type="water"] { --type-color: #6493EB; }
.pokemon-card-image[data-type="grass"] { --type-color: #74CB48; }
.pokemon-card-image[data-type="electric"] { --type-color: #F9CF30; }
.pokemon-card-image[data-type="psychic"] { --type-color: #FB5584; }
.pokemon-card-image[data-type="ice"] { --type-color: #9AD6DF; }
.pokemon-card-image[data-type="dragon"] { --type-color: #7037FF; }
.pokemon-card-image[data-type="dark"] { --type-color: #75574C; }
.pokemon-card-image[data-type="fairy"] { --type-color: #E69EAC; }

.pokemon-background-color{
    background-color: var(--type-color) !important;
}

.pokemon-dialog[data-type="normal"] { --type-color: #AAA67F; }
.pokemon-dialog[data-type="fighting"] { --type-color: #C12239; }
.pokemon-dialog[data-type="flying"] { --type-color: #A891EC; }
.pokemon-dialog[data-type="poison"] { --type-color: #c02cb6; }
.pokemon-dialog[data-type="ground"] { --type-color: #DEC16B; }
.pokemon-dialog[data-type="rock"] { --type-color: #B69E31; }
.pokemon-dialog[data-type="bug"] { --type-color: #A7B723; }
.pokemon-dialog[data-type="ghost"] { --type-color: #70559B; }
.pokemon-dialog[data-type="steel"] { --type-color: #B7B9D0; }
.pokemon-dialog[data-type="fire"] { --type-color: #F57D31; }
.pokemon-dialog[data-type="water"] { --type-color: #6493EB; }
.pokemon-dialog[data-type="grass"] { --type-color: #74CB48; }
.pokemon-dialog[data-type="electric"] { --type-color: #F9CF30; }
.pokemon-dialog[data-type="psychic"] { --type-color: #FB5584; }
.pokemon-dialog[data-type="ice"] { --type-color: #9AD6DF; }
.pokemon-dialog[data-type="dragon"] { --type-color: #7037FF; }
.pokemon-dialog[data-type="dark"] { --type-color: #75574C; }
.pokemon-dialog[data-type="fairy"] { --type-color: #E69EAC; }

.pokemon-dialog-information-font-color{
    color: var(--type-color) !important;
}

.pokemon-dialog button {
    border-bottom: 2px solid transparent; /* Unsichtbarer Rand, damit die Buttons nicht springen */
    transition: border-color 0.2s ease-in-out; /* Macht den Übergang schön geschmeidig */
}

/* HOVER-EFFEKT: Wenn man mit der Maus drüber fährt, färbt sich der Rand in der Typ-Farbe */
.pokemon-dialog button:hover {
    border-bottom: 2px solid var(--type-color) !important;
}

/* AKTIVER ZUSTAND: Der aktive Button hat die Farbe dauerhaft */
.pokemon-dialog button.active {
    border-bottom: 2px solid var(--type-color) !important;
}