.pokemon-card {
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
}

.pokemon-card-header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 40px;
    background-color: #e0e0e0;
    align-items: center;
}

.pokemon-card-header p{
    font-size: 20px;
    margin-right: 8px;
    font-weight: bold;
}

.pokemon-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

.pkmn-img {
    height: 220px;
    width: 220px;
}

.type-icon {
    width: 120px;
    border-radius: 4px;
}

.pkmn-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 6px;
    background-color: #e0e0e0;
}