.pokemon-card {
    font-family: 'Poppins', sans-serif;
    width: 275px;
}

.pokemon-card:hover .pkmn-img {
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.5));
  zoom: 1.05;
}

.pokemon-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 48px;
    background-color: #e0e0e0;
    border-radius: 24px 24px 0 0;
}

.pokemon-card-header p{
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 16px;
    top: 8px;
}

.pokemon-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

.pkmn-img {
    height: 220px;
    width: 220px;
}

.pokemon-img-button{
    background: none;
    outline: none;
    border: none;
}

.type-icon {
    width: 120px;
    border-radius: 4px;
}

.pkmn-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    gap: 6px;
    background-color: #e0e0e0;
    border-radius: 0 0 24px 24px;
}


